In [27]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression, LogisticRegression, Ridge, RidgeCV, Lasso, \
LassoCV, ElasticNet, ElasticNetCV
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.metrics import mean_squared_error, r2_score, accuracy_score
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVR
from sklearn.decomposition import PCA

# 2022

In [28]:
team_stats = pd.read_csv('../footy_data/league_one_teams_2022.csv')
games = pd.read_csv('../footy_data/league_one_games_2022.csv')

In [34]:
games = games[0:24]
#Only include completed games

Seeing how many games had goals and xg of over 2.5

In [8]:
games['over/under'] = np.where(games['home_team_goal_count'] + games['away_team_goal_count'] > 2.5, 1, 0)
# Adding column 0 represents under 2.5, 1 represents over 2.5
games['xg_over/under'] = np.where(games['team_a_xg'] + games['team_b_xg'] > 2.99, 1, 0)
# Adding column 0 represents under 2.5, 1 represents over 2.5
games['over/under_1.5'] = np.where(games['home_team_goal_count'] + games['away_team_goal_count'] > 1.5, 1, 0)
# Adding column 0 represents under 1.5, 1 represents over 1.5

In [9]:
games['over/under'].value_counts()

0    540
1     12
Name: over/under, dtype: int64

In [22]:
260/552
# 47% over

0.47101449275362317

In [23]:
games['xg_over/under'].value_counts()

0    332
1    220
Name: xg_over/under, dtype: int64

In [24]:
220/552

0.39855072463768115

In [25]:
goals_v_xg = games[['team_a_xg', 'team_b_xg', 'home_team_goal_count', 'away_team_goal_count']]

In [26]:
goals_v_xg

     team_a_xg  team_b_xg  home_team_goal_count  away_team_goal_count
0         1.09       1.77                     2                     0
1         1.69       1.07                     0                     2
2         0.91       1.62                     1                     1
3         1.46       1.02                     2                     1
4         0.82       1.81                     0                     2
..         ...        ...                   ...                   ...
547       1.08       1.82                     0                     3
548       1.61       1.12                     4                     0
549       1.79       1.11                     0                     1
550       1.60       0.85                     1                     1
551       1.41       1.90                     3                     4

[552 rows x 4 columns]

In [27]:
first_matchweek = games[0:12]

In [28]:
first_matchweek['over/under'].value_counts()

0    9
1    3
Name: over/under, dtype: int64

In [30]:
first_matchweek['over/under_1.5'].value_counts()

1    10
0     2
Name: over/under_1.5, dtype: int64